<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CLOUDPOS_INNER_GPIO" />
    <uses-permission android:name="android.permission.READ_POS_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_POS_SETTINGS" />
    <uses-permission android:name="android.permission.CLOUDPOS_SERIAL" />

    <uses-permission android:name="android.permission.CLOUDPOS_DEFAULT_LAUNCHER" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.WizarTestDemo">
        <activity
            android:name=".PulseDinDemoActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WizarTestDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MDBDemoActivity"
            android:exported="true"
            android:theme="@style/Theme.WizarTestDemo">
        </activity>
    </application>

</manifest>